h1{
    background-image: url('Images/pattern.webp');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#Brushes h2{
    background-color: mediumspringgreen;
}
#Frames h2{
    background-color: lightcoral;
}
#Paint h2{
    background-color: skyblue;
}

body{
    background: linear-gradient(rgba(0, 250, 154, 0.5), rgba(240, 128, 128, 0.5), rgba(135, 206, 235, 0.5));
}